<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">微信用户表列表</a>
            <a>
              <cite>微信用户表管理</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="float: right;height: 30px;line-height: 30px;margin-top: 5px;" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form action="#" class="layui-form layui-col-space5" th:action="@{/admin/weixinUser}" method="post">
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.nickName}" name="nickName" placeholder="搜索昵称" id="nickName" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.gender}" name="gender" placeholder="搜索性别 1：男" id="gender" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.language}" name="language" placeholder="搜索语言" id="language" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.city}" name="city" placeholder="搜索城市" id="city" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.province}" name="province" placeholder="搜索省份" id="province" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.avatarUrl}" name="avatarUrl" placeholder="搜索头像地址" id="avatarUrl" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.openId}" name="openId" placeholder="搜索唯一主键id" id="openId" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.createtime}" name="createtime" placeholder="搜索创建时间" id="createtime" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.updatetime}" name="updatetime" placeholder="搜索更新时间" id="updatetime" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.userName}" name="userName" placeholder="搜索用户姓名" id="userName" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.phone}" name="phone" placeholder="搜索用户联系方式" id="phone" />
                                    </div>
                                    <div class="layui-inline ">
                                    <input type="text"  step="0.001" class="layui-input"  th:value="${searchInfo.currentUnit}" name="currentUnit" placeholder="搜索所在单位" id="currentUnit" />
                                    </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn  layui-btn-success radius"><i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                        <div class="cl pd-5 bg-1 bk-gray " >
							<span class="l">
                                <a href="javascript:;"
                                   onclick="deleteAll('/admin/weixinUser/deleteAll')"
                                   class="layui-btn  layui-btn-danger radius"><i class="layui-icon">&#xe64d;</i> 批量删除</a>
						<a href="javascript:;"
                           onclick="layer_show('添加','/admin/weixinUser/addBefore',900,500)"
                           class="layui-btn  layui-btn-normal radius"><i class="layui-icon">&#xe600;</i> 添加</a>
							</span>
                            <span class="r wei-height" style="float: right;margin-right: 20px">共有数据：<strong
                                        th:text="${pageInfo.total}"></strong> 条</span>
                        </div>
                        <div class="layui-card-body" style="text-align: center">
                            <table class="layui-table layui-form">
                                <thead>
                                <tr class="text-c">
                                    <th width="25"><input type="checkbox" name="" value="" lay-filter="checkall" lay-skin="primary"/></th>
                                    <th width="25">序号</th>
                                        <th width="40">昵称</th>
                                        <th width="40">性别 1：男</th>
                                        <th width="40">语言</th>
                                        <th width="40">城市</th>
                                        <th width="40">省份</th>
                                        <th width="40">头像地址</th>
                                        <th width="40">唯一主键id</th>
                                        <th width="40">创建时间</th>
                                        <th width="40">更新时间</th>
                                        <th width="40">用户姓名</th>
                                        <th width="40">用户联系方式</th>
                                        <th width="40">所在单位</th>
                                    <th width="100">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                                    <td colspan="15"><strong>暂无数据</strong></td>
                                </tr>
                                <tr class="text-c" th:each="weixinUser,count:${pageInfo.list}">
                                    <td><input type="checkbox" value="1" th:value="${weixinUser.id}"
                                               name="id" lay-skin="primary"/></td>
                                    <td th:text="${count.count}"></td>
                                                <td th:text="${weixinUser.nickName}"></td>
                                                <td th:text="${weixinUser.gender}"></td>
                                                <td th:text="${weixinUser.language}"></td>
                                                <td th:text="${weixinUser.city}"></td>
                                                <td th:text="${weixinUser.province}"></td>
                                                <td><img style="width:50px;height: 50px;" th:src="@{{path}(path=${weixinUser.avatarUrl})}" /></td>
                                                <td th:text="${weixinUser.openId}"></td>
                                            <td th:text="${#temporals.format(weixinUser.createtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td th:text="${#temporals.format(weixinUser.updatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                <td th:text="${weixinUser.userName}"></td>
                                                <td th:text="${weixinUser.phone}"></td>
                                                <td th:text="${weixinUser.currentUnit}"></td>
                                    <td class="td-manage">
                                        <a title="编辑" href="javascript:;"
                                           th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'weixinUser'+'/editBefore/'+${weixinUser.id}+'\',900,500)'"
                                           class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a>
                                        <a title="删除" href="javascript:;"
                                           th:onclick="'javascript:deleteById(\'/admin/'+'weixinUser'+'/delete/'+${weixinUser.id}+'\')'"
                                           class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:include="_pagination :: page"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        // 监听全选
        form.on('checkbox(checkall)', function(data){

            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });
        form.on('select(selectchange)', function(data){
            console.log(data.value); //得到被选中的值
            var pageNo = $('#pageNo');
            var Form = $('form')
            pageNo.val(1);
            Form.submit();
            form.render('select');
        });
        //日期时间范围选择
        laydate.render({

        });
        lay('.timeSpace').each(function(){
            laydate.render({
                elem: this
                ,type: 'datetime'
                ,range: true //或 range: '~' 来自定义分割字符
            });
        });
    });


</script>
</body>
</html>