<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script th:src="@{/js/h5/index.js}"></script>-->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet"  href="/layui/css/layui.css"/>
</head>
<body>
    <div>
        <ul id="show-forum">
            <li>
                <h1>123456</h1>
                <p>1245</p>
                <div>
                    <img src="" alt="">
                    123
                    <img src="" alt="">
                    312
                </div>
            </li>

            <li th:each="tforum:${forumList}">
                <h1 th:text="${tforum.title}"></h1>
                <p th:text="${tforum.forum}"></p>
                <div>
                    <div th:each="tforumUser:${forumUserList}">
                        <i class="layui-icon layui-icon-praise" id="good"></i>
                        <span id="num1" th:text="${tforumUser.forumid}"></span>
                        <i class="layui-icon layui-icon-tread" id="bad"></i>
                        <span id="num2" th:text="${tforumUser.forumid}">0</span>
                    </div>
                </div>
            </li>

        </ul>
    </div>




</body>
</html>