<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="static/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>

<div class="fixed">
    <div class="fixed-main">
        <a href="javascript:;"><h1 class="logo">论坛:</h1></a>
        <input class="fixed-input" type="text" placeholder="输入关键字搜索" autocomplete\="off">
    </div>
</div>

<div class="txt">
    <div class="txt-main">
        <ul>


            <li>
                <div class="list-first">
                    <a class="title" href="javascript:;" th:text="${forum.title}"></a>
                    <a href="javascript:;" th:text="${forum.forum}"><p class="con">
                    </p></a>
                    <div class="zan">
                            <span>
                                <i class="layui-icon layui-icon-praise"></i>
                                123
                            </span>
                    </div>
                </div>
            </li>


            <li>
                <div class="list-first">
                    <a class="title" href="javascript:;" th:text="${forum.title}">这是标题</a>
                    <a href="javascript:;"><p class="con">这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
                        这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
                        这是内容这是内容这是内容这是内容这是内容这是内容这是内容
                    </p></a>
                    <div class="zan">
                            <span>
                                <i class="layui-icon layui-icon-praise"></i>
                                123
                            </span>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>

</body>
</html>